@model SirketProje.Models.Departman
<h1 class="mx-auto">Departman Bilgi Güncelleme Paneli</h1>
<form asp-action="Guncelle" method="post">
   
    <div class="form-group mb-3">
        <label class="control-label" for="No">Departman No:</label>
        <input type="hidden" class="form-control" asp-for="@Model.DepartmanNo">
    </div>
    
    <div class="form-group mb-3">
        <label class="control-label" for="ad">Departman Ad:</label>
        <input class="form-control" asp-for="@Model.DepartmanAdi" required>
    </div>
    <div class="form-group mb-3">
        <label class="control-label" for="departman">Departman Adresi:</label>
        <input class="form-control" asp-for="@Model.DepartmanAdresi" required>

    </div>
    <button class="btn btn-info" type="submit">Departman Güncelle</button>

</form>