@{
    ViewData["Title"] = "Home Page";
}


<ul class="list-group list-group-flush text-center">
    <li class="list-group-item">
        <div class="form-group mt-2">
            <a href="/Personel/Index" class="btn btn-outline-info">Personel İşlemleri</a>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="form-group mt-2">
            <a href="/Proje/Index" class="btn btn-outline-info">Proje İşlemleri</a>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="form-group mt-2">
            <a href="/Departman/Index" class="btn btn-outline-info">Departman İşlemleri</a>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="form-group mt-2">
            <a href="/Istihdam/Index" class="btn btn-outline-info">İstihdam İşlemleri</a>
        </div>
    </li>
    <li class="list-group-item ">
        <div class="form-group mt-2">
            <a href="/Yonetir/Index" class="btn btn-outline-info">Yönetici İşlemleri</a>
        </div>
    </li>
</ul>